section {
  max-width: 75rem;
}

/* header section */
nav {
  justify-items: center;
  background-color: white;
  padding-block: 1.5rem 1.5rem;
  border-bottom: 0.01rem solid rgba(242, 242, 242, 1);
}

.header-main {
  display: grid;
  justify-items: center;
  max-width: 100%;
  margin-inline: 2rem;
}

.header-container {
  display: grid;
  grid-template-columns: 5.5rem 1fr 2fr;
  gap: 1rem;
  align-items: center;
}

.menu {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.header-button {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  align-items: center;
  justify-content: end;
}

.home-nav {
  color: rgba(23, 51, 45, 1);
  font-weight: bold;
  cursor: pointer;
}

.about-nav,
.contact-nav,
.faq-nav {
  color: rgba(148, 158, 155, 1);
  cursor: pointer;
  transition: 0.2s;
}

.about-nav:hover,
.contact-nav:hover,
.faq-nav:hover {
  color: rgb(66, 131, 117);
}

.login-button {
  border: 0 solid;
  color: rgba(27, 30, 29, 1);
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
}

.login-button:hover {
  color: rgb(66, 131, 117);
}

.reg-button {
  border: 0 solid;
  background-color: rgba(23, 51, 45, 1);
  color: white;
  padding: 0.625rem 1.563rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.reg-button:hover {
  background-color: rgb(59, 114, 102);
}

.mobile-nav {
  display: none;
}

/* hero section implementation */
.hero-section {
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-block-start: 5rem;
  margin-block-end: 8rem;
}

.farmer-tag-container {
  max-width: 15rem;
}

.farmers-tag {
  text-align: center;
  font-size: 0.75rem;
  width: 100%;
  color: rgba(27, 30, 29, 1);
  padding-block: 0.625rem 0.625rem;
  padding-inline: 1rem 1rem;
  background-color: rgba(250, 228, 158, 1);
  border: 0.063rem solid rgba(248, 214, 109, 1);
  border-radius: 10rem;
}

.hero-text-container {
  margin-block-start: 2rem;
  max-width: 35rem;
}

.hero-text-head {
  width: 100%;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-block-end: 2rem;
  color: rgba(27, 30, 29, 1);
}

.hero-text-body {
  width: 100%;
  color: rgba(97, 107, 104, 1);
  margin-block-end: 2.5rem;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1rem;
  margin-block-end: 2.5rem;
}

.gs-button {
  border: 0 solid;
  background-color: rgba(23, 51, 45, 1);
  color: white;
  padding: 0.625rem 1.563rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.gs-button:hover {
  background-color: rgb(59, 114, 102);
}

.dm-button {
  border: 0.02rem solid rgba(23, 51, 45, 1);
  background-color: transparent;
  color: rgba(23, 51, 45, 1);
  padding: 0.625rem 1.563rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.dm-button:hover {
  background-color: rgb(217, 245, 240);
}

.arrow-icon {
  margin-block-end: -0.4rem;
}

.right-icon {
  margin-inline-start: 1rem;
}

.final-alignment {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  gap: 1.5rem;
  margin-block-end: 5rem;
}

.dots {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 2rem;
  background-color: rgba(230, 177, 10, 1);
}

.final-text {
  color: rgba(148, 158, 155, 1);
}

.home-image-container {
  max-width: 71.25rem;
}

.home-image {
  width: 100%;
}

/* first section iteration */
.first-section {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  margin-block-end: 7rem;
  gap: 4rem;
}

.first-section-text-container {
  max-width: 30rem;
}

.first-section-head {
  font-weight: bold;
  width: 100%;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-block-end: 1.5rem;
  margin-block-start: 1.5rem;
  color: rgba(27, 30, 29, 1);
}

.first-section-body-light {
  color: rgba(97, 107, 104, 1);
  margin-block-end: 1rem;
}

.first-section-body-heavy {
  color: rgba(27, 30, 29, 1);
  margin-block-end: 1.5rem;
}

/* First section button start*/
.first-section-button-container {
  display: grid;
  grid-template-columns: 12rem 12rem;
  align-items: center;
  gap: 1rem;
  margin-block-end: 2.5rem;
}
/* First section button ends*/

.second-layer-image-container {
  max-width: 33.688rem;
}

.second-layer-image {
  width: 100%;
}

/* Second section iteration */
.second-section {
  display: grid;
  justify-content: center;
  gap: 2.5rem;
  padding: 4rem;
  background-color: rgba(23, 51, 45, 1);
  border-radius: 3.125rem;
  margin-block-end: 7rem;
}

.second-section-main {
  justify-items: center;
}

.second-section-texts {
  margin-block-end: 2rem;
  max-width: 30rem;
}

.second-section-header {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-block-end: 1rem;
  width: 100%;
}

.second-section-body {
  text-align: center;
  width: 100%;
  color: rgba(149, 208, 195, 1);
}

.second-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.625rem;
}

.second-section-one,
.second-section-two {
  padding: 1.5rem;
  background-color: rgba(26, 60, 53, 1);
  border-radius: 2rem;
  border: 0.05rem solid rgba(34, 79, 69, 1);
}

.third-image-container {
  max-width: 27.063;
  margin-block-end: 2rem;
}

.third-image {
  width: 100%;
}

.fourth-image {
  width: 100%;
}

.second-sc-header {
  color: white;
  font-weight: bold;
  font-size: 1.625rem;
  margin-block-end: 0.5rem;
}

.second-sc-body {
  color: rgba(184, 224, 215, 1);
  margin-block-end: 1.5rem;
}

.benefit-text {
  color: white;
  font-weight: bold;
  margin-block-end: 1rem;
}

.text-dots {
  display: grid;
  gap: 1rem;
  margin-block-end: 1.5rem;
}

.dot-container {
  display: grid;
  grid-template-columns: 1rem 1fr;
  align-items: center;
}

.dot-body {
  color: rgba(184, 224, 215, 1);
}

.second-sc-final {
  color: white;
}

/* Third section iteration */
.third-section {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 2.5rem;
  padding: 4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 3.125rem;
  border: 0.05rem solid rgba(242, 242, 242, 1);
  box-shadow: 0 0.5rem 2.869rem rgba(23, 51, 45, 0.05);
  margin-block-end: 7rem;
}

.third-section-texts {
  max-width: 40rem;
}

.third-section-head {
  color: rgba(27, 30, 29, 1);
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-block-end: 1rem;
  width: 100%;
}

.third-section-body {
  color: rgba(97, 107, 104, 1);
  text-align: center;
}

.third-section-main {
  display: grid;
  grid-template-columns: auto auto auto;
}

.third-section-main-text {
  display: grid;
  gap: 1.5rem;
}

/* Ouline implementation start */
.outline-section {
  margin-inline-end: 1.5rem;
}

.green-line {
  width: 1rem;
  height: 5.72rem;
  background-color: rgba(23, 51, 45, 1);
  border-radius: 10rem;
  margin-block-end: 1.2rem;
}

.orange-line {
  width: 1rem;
  height: 22.425rem;
  background-color: rgba(230, 102, 10, 1);
  border-radius: 10rem;
  margin-block-end: 1.2rem;
}

.yellow-line {
  width: 1rem;
  height: 3.203rem;
  background-color: rgba(230, 177, 10, 1);
  border-radius: 10rem;
  margin-block-end: 1.2rem;
}
/* Outline implementation ends */

.third-section-one {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}

.third-hedr {
  color: rgba(27, 30, 29, 1);
  font-weight: bold;
  font-size: 1.25rem;
  margin-block-end: 0.5rem;
}

.third-bdy {
  color: rgba(97, 107, 104, 1);
}

.third-hedr-btm {
  color: rgba(27, 30, 29, 1);
}

.gs-out-button {
  border: 0 solid;
  background-color: transparent;
  color: rgba(23, 51, 45, 1);
  border: 0.02rem solid rgba(23, 51, 45, 1);
  padding: 0.625rem 1.563rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.gs-out-button:hover {
  background-color: rgb(217, 245, 240);
}

.fift-layer-image-container {
  max-width: 26.688rem;
}

.fifth-layer-image {
  width: 100%;
}

/* The fourth section iteration */
.fourth-section {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 2.5rem;
  padding: 3.125rem;
  background-color: rgba(27, 30, 29, 1);
  border-radius: 3.125rem;
  margin-block-end: 5rem;
}

.ft-image-container {
  max-width: 27.75rem;
}

.ft-image {
  width: 100%;
}

.f-section-container {
  max-width: 33rem;
}

.f-section-head {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 2.75rem;
  margin-block-end: 1.5rem;
}

.f-section-body {
  width: 100%;
  color: rgba(202, 206, 205, 1);
  margin-block-end: 1.5rem;
}

.gs-wt-button-container {
  display: grid;
  grid-template-columns: 15rem 15rem;
  gap: 1rem;
}

.gs-wt-button {
  border: 0 solid;
  background-color: transparent;
  color: rgba(27, 30, 29, 1);
  background-color: white;
  padding: 0.625rem 1.563rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.gs-wt-button:hover {
  background-color: rgb(230, 227, 227);
}

/* The footer section iteration */
footer {
  background-color: white;
  padding-block: 1.5rem 1.5rem;
  border-top: 0.01rem solid rgba(242, 242, 242, 1);
}

.footer-main {
  display: grid;
  margin-inline: 2rem;
  justify-content: center;
}

.footer-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1rem;
  align-items: center;
}

.tc-p-section {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  cursor: pointer;
}

.tc-text {
  color: rgba(148, 158, 155, 1);
  cursor: pointer;
  transition: 0.2s;
}

.tc-text:hover {
  color: rgb(66, 131, 117);
}