.contact-nav {
  color: rgba(23, 51, 45, 1);
  font-weight: bold;
  cursor: pointer;
}

/* Hero section iteration */
.ct-hero-section {
  display: grid;
  margin-block-start: 5rem;
  margin-block-end: 7rem;
}

.ct-text-section {
  justify-items: center;
}

.farmer-tag-container {
  margin-block-end: 1.5rem;
}

.hero-header-container {
  max-width: 40rem;
  margin-block-end: 5rem;
}

.hero-header {
  font-size: 2.75rem;
  color: rgba(27, 30, 29, 1);
  font-weight: bold;
  text-align: center;
  width: 100%;
}

/* Contact section iteration */
.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 4rem;
  background-color:rgba(23, 51, 45, 1);
  border: 0.05rem solid rgba(63, 141, 124, 1);
  padding-inline: 4rem;
  padding-block: 2rem;
  border-radius: 3rem;
}

.ct-section-main {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ct-text {
  color: white;
  font-size: 1.625rem;
}

/* Form section iteration */
.form-container {
  background-color: white;
  padding: 4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 3.125rem;
  border: 0.05rem solid rgba(242, 242, 242, 1);
  box-shadow: 0 0.5rem 2.869rem rgba(23, 51, 45, 0.05);
  margin-block-end: 7rem;
}

form {
  display: grid;
}

.name-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

label,
input,
textarea {
  font-family: Sora;
}

label {
  margin-block-end: 0.5rem;
  color: rgba(97, 107, 104, 1);
}

.name-category {
  margin-block-end: 0.5rem;
}

input,
textarea {
  padding-inline: 0.5rem;
  padding-block: 1rem;
  border: 0.02rem solid rgba(148, 158, 155, 1);
  border-radius: 1rem;
}

textarea {
  resize: vertical;
}

.gs-button {
  border: 0 solid;
  background-color: rgba(184, 224, 215, 1);
  color: rgba(114, 192, 175, 1);
  padding: 0.625rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.fname-lname-input {
  display: grid;
  grid-template-columns: 1fr;
}